h1 {
    text-align:center;
}

body {background-color:yellowgreen;}

#contact-form {width:56%; margin-top:8%; margin-left:19% ;}

#fblink {float: right;
}
#Paraone {text-align: right;
    text-align: center;
}
